*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
*.apk
build/
.idea/
app/src/main/jniLibs
full/
debug/
release/
app/com.crashlytics.settings.json
app/session_analytics.tap
app/session_analytics_to_send/
insilico/output.txt
session_analytics_to_send/
